@import "tailwindcss";


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background:#1c398e;
  border-radius: 13px;
}

/* Custom scrollbar for span containers */
.overflow-x-auto::-webkit-scrollbar {
  height: 4px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #1c398e;
  border-radius: 4px;
}

/* For Firefox */
.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #1c398e transparent;
}

/*utility classes*/
.active-employee-sidebar-item {
  @apply bg-white text-black;
}

.calendar-day-name {
  @apply self-center border-2 font-bold text-sm w-20 h-10 flex justify-center items-center rounded-lg text-blue-900 text-center
}
.calendar-day {
  @apply self-center border-2 text-center font-bold text-sm w-20 h-10 flex justify-center items-center rounded-lg
}